#Principal{
    width: 1000px;
    margin: auto;
}

#cabecera{
    width: 1000px;
    height: 50px;
    background-color: #00b4cc;
}

#cabecera ul{
    text-align: center;
    padding-top: 15px;
}

#cabecera li{
    display: inline;
}

#cabecera a{
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
}

section{
    margin-top: 50px;
}

#menu{
    width: 250px;
    height: 200px;
    background-color: #0d5aa1;
    float: left;
}

#contenido{
    width: 440px;
    height: 400px;
    background-color: #f0e339;
    float: left;
    margin: 0 25px 50px 25px;
    padding: 30px;
}

#barra{
    width: 200px;
    height: 300px;
    background-color: #d66cc5;
    float: left;
}

.parallax{
    clear: both;
    width: 100%;
    height: 250px;
    background: url(fondo.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center top;
}

.servicios h3, .servicios h4{
    text-align: center;
}

.servicio{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #e2aa11;
    float: left;
    margin: 50px;
}

#pie{
    width: 1000px;
    clear: both;
    border-top:1px solid #ccc;
}

.acerca{
    width: 250px;
    float: left;
    margin-right: 100px;
}

.menu{
    width: 220px;
    float: left;
    margin-right: 100px;
}

.socialMedia{
    width: 300px;
    float: left;
}

.social{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
    background-color: #a719a7;
    margin-left: 20px;
}